/*--
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Oswald', sans-serif;
	background:#003b64;
}
/*-- main --*/
.main h1{
	text-transform:uppercase;
	font-size:2em;
	color:#fff;
	text-align:center;
	margin:0 0 2em;
	letter-spacing: 5px;
}
.main{
	padding:4em 0 3em;
	width:40%;
	margin:0 auto;
}
.main-grid1-left{
	float:left;
	width:40%;
	text-align:center;
}
.main-grid1-left img{
	padding:1em;
	border:1px solid #003B64;
	border-radius:100%;
	
}
.main-grid1-right{
	float:left;
	margin-left:2em;
}
.main-grid1{
	background: #fff200;
    padding: 2em;
}
.main-grid1-right h2{
	text-transform:capitalize;
	font-size:1.5em;
	color:#3783B8;
	margin:0;
	letter-spacing:3px;
}
.main-grid1-right h2 span{
	color:#000;
}
.main-grid1-right p{
	font-size:1em;
	color:#9B9411;
	letter-spacing:3px;
	margin:0;
}
.main-grid1-right ul{
	padding:1em 0 0;
}
.main-grid1-right ul li{
	display:inline-block;
}
.main-grid1-right ul li a.weibo{
	background:url(../images/2.png) no-repeat 2px -4px;
	display:block;
	width:60px;
	height:60px;
}
.main-grid1-right ul li a.zhihu{
	background:url(../images/3.png) no-repeat 2px -4px;
	display:block;
	width:60px;
	height:60px;
}
.main-grid1-right ul li a.jianshu{
	background:url(../images/4.png) no-repeat 2px -4px;
	display:block;
	width:60px;
	height:60px;
}
.main-grid1-right ul li a.github{
	background:url(../images/5.png) no-repeat 2px -4px;
	display:block;
	width:60px;
	height:60px;
}
.main-grid2{
	background:#fff;
	padding:1em;
}
.main-grid2-left{
	float: left;
    width: 27.33%;
    padding: 0 1em;
}
.main-grid2-left:nth-child(2){
	border-left:1px solid #555;
	border-right:1px solid #555;
}
.main-grid2-left p{
	font-size: 1.3em;
    color: #DDD;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
}
.main-grid2-left p span{
	display:block;
	font-size:16px;
	color:#555;
}
.main-grid3{
	background:#165E91;
	padding:2em 5em;
}
.main-grid3 p{
	text-transform:capitalize;
	color:#fff;
	letter-spacing: 2px;
	font-size:15px;
	margin:0 0 2em;
}
.skills {
	width: 85%;
	margin: 7px 0;
	height: 12px;
	background:#999;
}
.bar p{ 
	color:#FFF200;
	font-size:14px;
	margin:0px;
	}
.skill1 {
	height: 100%;
	display: block;
	background-color: #fff;
}
.skill2{
	height: 100%;
	display: block;
	background-color: #fff;	
}
.skill3{
	height: 100%;
	display: block;
	background-color: #fff;	
}
.footer{
	padding:4em 0 0;
	text-align:center;
}
.footer p{
	color:#fff;
	margin:0;
	font-size:14px;
}
.footer p a{
	color:#fff;
	text-decoration:none;
	padding:.5em 0 0;
}
/*-- //main --*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.main {
		width: 45%;
	}
}
@media (max-width:1280px){
	.main {
		width: 50%;
	}
}
@media (max-width: 1024px){
	.main {
		width: 60%;
	}
	.main h1 {
		font-size: 1.6em;
		margin: 0 0 1.5em;
	}
}
@media (max-width: 768px){
	.main {
		width: 80%;
	}
}
@media (max-width: 736px){
	.main-grid2-left {
		width: 26.33%;
	}
}
@media (max-width: 600px){
	.main-grid2-left p {
		font-size: 1em;
	}
	.main {
		width: 90%;
	}
}
@media (max-width:568px){
	.main-grid2-left {
		width: 25.33%;
	}
	.skills {
		width: 100%;
	}
}
@media (max-width:640px){
	.footer {
		padding: 3em 0 0;
	}
}
@media (max-width:480px){
	.main h1 {
		margin: 0 0 1em;
	}
	.main-grid1-right h2 {
		font-size: 1.2em;
	}
	.main-grid1-right p {
		font-size: .7em;
	}
	.main-grid2-left {
		padding: 0 0.9em;
	}
	.main-grid3 {
		padding: 2em 4em;
	}
	.footer p {
		font-size: 13px;
	}
}
@media (max-width:414px){
	.main-grid1-left img {
		padding: .5em;
	}
	.main h1 {
		font-size: 1.4em;
	}
	.main-grid1 {
		padding: 1em;
	}
	.main-grid1-left {
		float: none;
		width: 100%;
		margin: 0 0 1em;
		text-align: center;
	}
	.main-grid1-right {
		float: none;
		margin-left: 0;
		width: 100%;
		text-align: center;
	}
	.main-grid2-left {
		width: 23.33%;
	}
	.main-grid3 {
		padding: 2em 3em;
	}
	.bar p {
		font-size: 12px;
	}
}
@media (max-width: 375px){
	.main-grid2-left p {
		font-size: .7em;
	}
	.main-grid2-left p span,.main-grid3 p {
		font-size: 13px;
	}
	.main-grid2-left {
		width: 22.33%;
	}
	.main-grid3 {
		padding: 1em 3em;
	}
}
@media (max-width: 320px){
	.main {
		padding: 2em 0 2em;
	}
	.main h1 {
		font-size: 1.2em;
	}
	.main-grid1-right h2 {
		font-size: 1em;
	}
	.main-grid1-left {
		margin: 0;
	}
	.main-grid2-left {
		padding: 0 0.8em;
	}
	.main-grid3 {
		padding: 1em 2em;
	}
	.main-grid3 p {
		margin: 0 0 1.5em;
	}
	.footer {
		padding: 2em 0 0;
	}
	.footer p {
		line-height: 2.8em;
	}
}